﻿@model SyncaLogger.Web.Models.SearchFilter

@using (Html.BeginForm("Search", "Synca", FormMethod.Get))
{

    <p>@Html.LabelFor(model => model.AfterThisDate)</p>
    <p>@Html.EditorFor(model => model.AfterThisDate)</p>

    <p>@Html.LabelFor(model => model.BeforeThisDate)</p>
    <p>@Html.EditorFor(model => model.BeforeThisDate)</p>

    <p>@Html.LabelFor(model => model.LogLevel)</p>
    <p> <select asp-for="LogLevel" asp-items="Html.GetEnumSelectList<SyncaLogLevel>()"></select></p>

    <p>@Html.LabelFor(model => model.SortType)</p>
    <p>@Html.EditorFor(model => model.SortType)</p>


    <p><input type="submit" value="Search" class="btn btn-info" /></p>
}
