﻿@model SyncaLogger.Web.Models.PagedApiLogs

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@using X.PagedList.Mvc.Core;
@using X.PagedList;


@addTagHelper *, LazZiya.TagHelpers


<div class="row">
    <div class="col-xl-4">@Html.Partial("_searchFormView", new SearchFilter())</div>
    <div class="col-xl-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Date")
                    </th>
                    <th>
                        @Html.DisplayName("Level")
                    </th>
                    <th>
                        @Html.DisplayName("Message")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.logDTOs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Level)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<paging 
        page-no="@ViewBag.Page"
        page-size="@ViewBag.Limit"
        total-records="@Model.TotalCount"
        show-total-pages="false"
        show-total-records="false"
        max-displayed-pages="5">>
    
</paging>




