﻿@using Microsoft.AspNetCore.Http

@if ( Context.User.Identity.IsAuthenticated)
{

    <ul class="nav navbar-nav navbar-right">
        <li>
            <p>@User.Identity.Name  </p>
        </li>
        
        <li>
            @Html.ActionLink("LogOut", "LogOut", "Account", null, new { @class = "btn btn-info" })
        </li>
        
    </ul>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-info" })
    </li>
    <li>
      
        @Html.ActionLink("Registration", "Register", "Account", null, new { @class = "btn btn-info" })
    </li>
</ul>
}
