﻿@model SyncaLogger.Web.Models.Account.LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="row"><h1>Login</h1></div>


<div class="row">
    <div class="col-md-4 align-self-center">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <button asp-controller="Account" asp-action="GitLabLogin">GitLab Login</button>
            </div>
        </form>
    </div>
</div>


